h2 {
    text-align: center;
}

.page-title {
    text-align: center;
    color: white;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.back-button-white {
    display: inline-block;
    padding: 5px 10px;
    background-color: white;
    color: #073763;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.back-button-blue {
    display: inline-block;
    padding: 5px 10px;
    background-color: #073763;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Nav Bar */
header {
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure the navbar stays above other content */
}

.navbar-brand img {
    height: 50px;
}

.navbar {
    background-color: #FFFFFF !important;
}

.navbar-nav .nav-link,
.navbar-brand {
    color: #000000 !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    margin-top: 0;
}

.dropdown-item {
    color: #000000 !important;
}

.dropdown-item:hover {
    background-color: #f8f9fa !important;
}

/* Footer */
.slider-container {
    width: 100%;
    overflow: hidden;
    background-color: #FFFFFF; 
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.slide-track {
    display: flex;
    width: 200%; /* Adjust based on number of slides */
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 25%; /* Ensure four images fit in one view */
    /* min-width: 25%; Adjust to fit 4 images */
    box-sizing: border-box;
}

.slide img {
    width: 90%;
    height: auto;
    display: block;
    object-fit: cover; /* Ensure images cover the space without distortion */
    padding: 0.5rem; /* Add some space around images */
} 

.home-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #073763;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    width: 100%;
}

.home-section {
    position: relative;
    height: 400px;
    background: url('../images/crop_tests/home_page_image.jpg') no-repeat center center;
    background-size: cover;
}

.home-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

div.list-container {
    text-align: center;
}

ul.list {
    display: inline-block;
    text-align: left;
}

.list-highlight {
    text-decoration: underline;
    font-weight: bold;
}

.blue-white {
    background-color: #1c4587;
    color: white;
}

.white-blue {
    background-color: white;
    color: #1c4587;
}

.image-container {
    text-align: center;
    margin-bottom: 20px;
}
.image-container img {
    width: 100%;
    height: auto;
}

.box-image-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #073763;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
} 

.home-wrapper {
    background-color: #666666;
}

/* About page */
.about-title {
    text-align: center;
    color: #1c4587;
}

.grey-background {
    background-color: #666666;
    color: white;
}

#center {
    text-align: center;
}

.terry-picture-container {
    display: flex;
    align-items: center;
}

.terry-picture-container img {
    max-width: 100%;
    height: auto;
}

.terry-picture-text {
    padding-left: 25px;
}

.company-photo-container {
    display: flex;
    align-items: center;
}

.company-photo-container img {
    max-width: 100%;
    height: auto;
}

/* Info page */
.info-section {
    position: relative;
    height: 400px;
    background: url('../images/crop_tests/information_background_replacement.jpg') no-repeat center center;
    background-size: cover;
}

.info-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.info-container {
    padding-top: 25px;
}

/* Careers page */
.career-section {
    position: relative;
    height: 400px;
    background: url('../images/careers-banner.jpg') no-repeat center center;
    background-size: cover;
}

.career-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

/* Contact Us page */
.contact-section {
    position: relative;
    height: 400px;
    background: url('../images/contact_graphic.jpg') no-repeat center center;
    background-size: cover;
}

.contact-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.contact-container {
    padding-top: 25px;
}

.contact-highlight {
    font-weight: bold;
}

/* Position List page */
.position-section {
    position: relative;
    height: 400px;
    background: url('../images/position_list_img.jpg') no-repeat center center;
    background-size: cover;
}

.position-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.toggle-header {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
}
.toggle-header:hover {
    background-color: #0056b3;
}

.hidden-content {
    display: none;
}

.pos-container {
    padding-top: 25px;
}

/* Core Capabilities page */
.capabilities-button {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    padding: 4px 150px;
    background-color: white;
    color: #1c4587;
}

/* Strategic Advantages page */
.strat-section {
    position: relative;
    height: 400px;
    background: url('../images/strategic_advantages_graphic.jpg') no-repeat center center;
    background-size: cover;
}

.strat-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
}

/* Events page */
.events-section {
    position: relative;
    height: 400px;
    background: url('../images/apa_llc.jpg') no-repeat center center;
    background-size: cover;
}

.events-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

/* Partnerships page */
.partner-section {
    position: relative;
    height: 400px;
    background: url('../images/Picture-for-Partnerships-Banner.jpg') no-repeat center center;
    background-size: cover;
}

.partner-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.partner-image {
    width: 75%;
    height: auto;
    display: inline-block;
}

.partner-image-bot {
    width: 80%;
    height: auto;
    display: inline-block;
    padding-left: 21%;
}

/* Company Events page */
.company-section {
    position: relative;
    height: 400px;
    background: url('../images/events/company_events/company_events_graphic.jpg') no-repeat center center;
    background-size: cover;
}

.company-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.events-image {
    width: 100%;
    height: auto;
    display: inline-block;
}

/* Attended Events page */
.attended-section {
    position: relative;
    height: 400px;
    background: url('../images/events/attended_events/sea_air_space_banner.jpg') no-repeat center center;
    background-size: cover;
}

.attended-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

hr.divider {
    border: none;          /* Remove default border */
    border-top: 1px solid #292929; /* Add a 1px solid border at the top */
    margin: 20px 0;        /* Add margin above and below the divider */
    width: 100%;            /* Set width of the divider */
    /* You can also use the following for full-width */
    /* width: 100%; */
}